<div class="box">
  <h1 class="header">Pre-Game Checklist</h1>
  <div class="inner-card">
    <h2>Always bring the following:</h2>
    <mat-checkbox class="phase-margin" color="primary">Your Kill Team Models</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Your Kill Team Roster</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Your Kill Team Unit Reference</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Your Kill Team Tactics</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Dice</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Measuring Tape</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Action Tokens (Move, Advance, Charge, Etc)</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Damage Tokens</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Fleshwound Tokens</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Command Point Tracker</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Victory Point Tracker</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Turn Tracker</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Rulebooks</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Rules Reference Sheet</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Super Glue</mat-checkbox>

    <h2>Depending on where you're playing:</h2>
    <mat-checkbox class="phase-margin" color="primary">Map Boards</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Terrain</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Objective Markers</mat-checkbox>
  
    <h2>Snacks/Hygiene:</h2>
    <mat-checkbox class="phase-margin" color="primary">Snacks</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Drinks</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Mints</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Shower</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Deodorant</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Pain Meds</mat-checkbox><br />
    <mat-checkbox class="phase-margin" color="primary">Chapstick</mat-checkbox><br />
  </div>
</div>
